package-import-method=copy
shamefully-hoist=true
strict-peer-dependencies=false


# npm 镜像加速
registry=https://registry.npmmirror.com

# Electron 镜像加速
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_custom_dir={{ version }}
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
